
<div class="picture">
	<div class = "info">
        <!-- <div class="contact"> -->
            <h3 class="h3">Contact Us xx</h3>

            <form class="contact" name="form" method="post" action="https://formspree.io/jborbon@live.com">
                <label for="name">Name</label><br>
                <input class="text" name="name" type="text" />
                <br><br>

                <label for="email">Email</label><br>
                <input class="text" name="email" type="text" />
                <br><br>

                <label for="message">Message</label><br>
                <input class="text" name="message" type="text" />
                <br><br>

                <input class="submit" name="submit" type="submit" value="Submit" />

            </form>
        <!-- </div> -->

</div>

</div>





    