<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>PokeChanRemake</title>
	<link rel="stylesheet" type="text/css" href="default.css">
</head>
<body>
	<%= erb :nav %>
	<%= yield %>


<footer>
    	<div id="foot">
    		<div class="social">
    			<h3>Stay Connected</h3>
    		<a class="social facebook" href="https://www.facebook.com/AMGInternational">
    		<img src="Facebook.png" height="100px" width="100px">
    		</a>
    		<a class="social twitter" href="https://twitter.com/hashtag/thessaloniki?lang=en">
    		<img src="Twitter.jpg" height="100px" width="100px">
    		</a>
    		<a class="social instagram" href="https://www.instagram.com/amgintl/">
    		<img src="Instagram.jpg" height="100px" width="100px">
    		</a>
    		<a class="social blog" href="http://www.amginternational.org/main/fs//">
    		<img src="AMGlogo.jpeg" height="100px" width="100px">
    		</a>
    		<h4>100 William Street, New York, New York 10038 | 315 5th Avenue, New York, New York 10016</h3>
    	</div>

    	<div class="contact">
    		<h3>Contact Us</h3>

    		<form class="contact" name="form" method="post">
    			<label for="name">Name</label><br>
    			<input class="text" name="name" type="text" />
    			<br><br>

    			<label for="email">Email</label><br>
    			<input class="text" name="name" type="text" />
    			<br><br>

    			<label for="message">Message</label><br>
    			<input class="text" name="name" type="text" />
    			<br><br>

    			<input class="submit" name="submit" type="submit" value="Submit" />

    		</form>
    	</div>



    </footer>

</body>
</html>