<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>PokeChan V2</title>
	<link rel="stylesheet" type="text/css" href="default.css">
</head>
<body>
	<%= erb :nav %>
	<%= yield %>

</body>
</html>