<h1>Menu</h1>

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="pokepics">

  <b href="All About Tofu"><img src="images/AllAboutTofu.jpg" alt="All About Tofu" />
  	<h5>All About Tofu</h5>
  </b>
  <b href="#"><img src="images/CaliforniaBowl.jpg" alt="California Bowl" />
  	<h5>California Bowl</h5>
  </b>
  <b href="#"><img src="images/KeepItClassic.jpg" alt="Keep It Classic" />
  	<h5>Keep It Classic</h5>
  </b>
  <b href="#"><img src="images/ShellLife.jpg" alt="Shell Life" />
  	<h5>Shell Life</h5>
  </b>
  <b href="#"><img src="images/TasteTest.jpg" alt="Taste Test" />
  	<h5>Taste Test</h5></b>
   <b href="#"><img src="images/SomethingAboutSalmon.jpg" alt="Something About Salmon" />
  	<h5>Something About Salmon</h5>
  </b>
</div>

<!-- 
<div class="modal-container">
  <input id="modal-toggle" type="checkbox">
  <label class="modal-btn" for="modal-toggle">Click me</label> 
  <label class="modal-backdrop" for="modal-toggle"></label>
  <div class="modal-content">
    <label class="modal-close" for="modal-toggle">&#x2715;</label>
    <h2>Modal title</h2><hr />
    <p>Hello from inside the modal!</p> 
    <label class="modal-content-btn" for="modal-toggle">OK</label>   
  </div>          
</div>   -->