<head>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/default.css">
</head>

<body>

<div class="description" id="one">
  <h3>x</h3>
  <p>Tofu, cucumber, edamame, hijiki, seaweed salad, avacado
  <br>Dressing: spicy sha shoyu
  <br>Toppings: ginger, sesame seeds</p>
</div>

<div class="description" id="second">
  <h3>x</h3>
  <p>Tuna, salmon, cucumber, edamame, avocado
  <br>Dressing: miso ginger
  <br>Toppings: kanikama, chili aioli, masago, sesame seeds</p>
</div>

<div class="description" id="third">
  <h3>x</h3>
  <p>Salmon, sweet onion, cucumber, edamame, seaweed salad, avocado
  <br>Dressing: sweet sesame
  <br>Toppings: masago, sesame seeds</p>
</div>

<div class="description" id="fourth">
  <h3>x</h3>
  <p>Lobster salad, cucumber, sweet onion, avocado
  <br>Dressing: wasabi shayu
  <br>Toppings: kanikama, masago, sesame seeds</p>
</div>

<div class="description" id="fifth">
  <h3>x</h3>
  <p>Tuna, sweet onion, hijiki, seaweed salad, avocado
  <br>Dressing: wasabi soy
  <br>Toppings: masago, sesame seeds</p>
</div>

<div class="description" id="sixth">
  <h3>x</h3>
  <p>Tuna, sweet onion, hijiki, seaweed salad, avocado
  <br>Dressing: sweet sesame
  <br>Toppings: kanikama, masago, ginger, wasabi aioli</p>
</div>

<div class="container">

<h1><center> Menu </center></h1>

  <div class="poke" id="a">
  <header1><img class="food" src="images/AllAboutTofu.jpg"/></header1>
  <footer1>All About Tofu</footer1>
  </div>

  <div class="poke" id="b">
  <header1><img class="food" src="images/CaliforniaBowl.jpg"/></header1>
  <footer1>California Bowl</footer1>
  </div>

  <div class="poke" id="c">
  <header1><img class="food" src="images/KeepItClassic.jpg"/></header1>
  <footer1>Keep It Classic</footer1>
  </div></br>

  <div class="poke" id="d">
  <header1><img class="food" src="images/ShellLife.jpg"/></header1>
  <footer1>Shell Life</footer1>
  </div>

  <div class="poke" id="e">
  <header1><img class="food" src="images/TasteTest.jpg"/></header1>
  <footer1>Taste Test</footer1>
  </div>

  <div class="poke" id="f">
  <header1><img class="food" src="images/SomethingAboutSalmon.jpg"/></header1>
  <footer1>Something About Salmon</footer1>
  </div>

</div>

<!-- <body style="text-align:center">

<h2>Popup</h2>

<div class="popup" onclick="myFunction()">Click me to toggle the popup!
  <span class="popuptext" id="myPopup">A Simple Popup!</span>
</div>

<script>
// When the user clicks on div, open the popup
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>
<!-- 
<div class="modal-container">
  <input id="modal-toggle" type="checkbox">
  <label class="modal-btn" for="modal-toggle">Click me</label> 
  <label class="modal-backdrop" for="modal-toggle"></label>
  <div class="modal-content">
    <label class="modal-close" for="modal-toggle">&#x2715;</label>
    <h2>Modal title</h2><hr />
    <p>Hello from inside the modal!</p> 
    <label class="modal-content-btn" for="modal-toggle">OK</label>   
  </div>          
</div>   --> -->

<script src="main.js"></script>

