


=======
<ul class="nav">

	<li><a href="/">Our Story</a></li>
	<li><a href="/contact">Contact</a></li>
	<li><a href="/menu">Menu</a></li>
<img src="/Images/PokeChanLogo.png" style="width:150px;height:150px;">
	<li><a href="/locations">Locations</a></li>
	<li><a href="/orderonline">Order Online</a></li>
	<li><a href="/press">Press</a></li>

</ul>

