
<ul class="navbar">
	<li><a href="/">Our Story</a></li>
	<li><a href="/contact">Contact</a></li>
	<li><a href="/menu">Menu</a></li>
	<li><a href="/locations">Locations</a></li>
	<li><a href="/orderonline">Order Online</a></li>
	<li><a href="/press">Press</a></li>

</ul>
<!-- 
<div class="navbar">
  <ul class="nav">
    <li class="nav-item"><a href="#"><i class="icon-fixed-width icon-home"></i>home</a></li>
    <li class="nav-item"><a href="#"><i class="icon-fixed-width icon-coffee"></i>blog</a></li>
    <li class="nav-item"><a href="#"><i class="icon-fixed-width icon-camera-retro"></i> portfolio</a></li>
    <li class="nav-item"><a href="#"><i class="icon-fixed-width icon-user"></i>about</a></li>
    <li class="nav-item"><a href="#"><i class="icon-fixed-width icon-envelope"></i>contact</a></li>
  </ul>
</div> -->