
<div class="ourstory">
	<p class="p1">Choose a signature bowl or go against the current and make you own!
	
	</p class="p1">
	<img src="images/ourstory1.jpg">

	<table class="storytable">
		<tr>
			<th>KEEP IT CLASSIC</th>
			<th>TASTE TEST</th>
			<th>SOMETHING ABOUT SALMON</th>
			
		</tr>
			<td><br>tuna, sweet onion, hijiki,<br>
			seaweed salad, avocado,<br>
			dressing: wasabi soy<br>
			toppings: masago, sesame
			seeds</td>
			<td><br>tuna, salmon, cucumber,<br>
			edamame, avocado<br>
			dressing: miso ginger<br>
			toppings: kanikama, chili aioli,<br>
			masago, sesame seeds</td>
			<td><br>salmon, sweet onion,
			cucumber,<br> edamame,
			seaweed salad, avocado<br>
			dressing: sweet sesame<br>
			toppings: masago, sesame
			seeds</td>

		<tr>
			<th>SHELL LIFE</th>
			<th>ALL ABOUT TOFU</th>
			<th>CALIFORNIA BOWL</th>
		</tr>
		
		<tr>
			<td><br>lobster salad, cucumber, <br>sweet
			onion, avocado<br>
			dressing: wasabi shayu<br>
			toppings: kanikama, masago,<br>
			sesame seeds</td>
			<td><br>tofu, cucumber, edamame,<br>
			hijiki, seaweed salad, avacado<br>
			dressing: spcy sha shoyu<br>
			toppings: ginger, sesame seeds</td>
			<td><br>avocado, cucumber, seaweed
			salad<br>
			dressing: sweet sesame<br>
			toppings: kanikama, masago,<br>
			ginger, wasabi aioli</td>
		</tr>

		
	</table>
	

	<hr>

	<p class = "p2">

		<img src="images/ourstory2.jpg">
		<h2>READY TO MAKE YOUR OWN?</h2>


There’s no right or wrong way to make your own bowl. Simply choose from a carefully curated selection of bases, proteins, mix-ins, house made sauces and toppings. Gluten free? No problem! We’ve got our vegetarian, vegan and paleo peeps covered too.


	</p>
