
<div class="ourstory">
	<p>Choose a signature bowl or go against the current and make you own!
	
	</p class="p1">
	<img src="images/ourstory1.jpg">
	<p>
<table class="table_options">
<tbody>
<tr>
<td style="width: 200px; text-align: left;"><strong><span class="fontstyle0">KEEP IT CLASSIC</span></strong><p></p>
<p style="text-align: left;"><span class="fontstyle0">tuna, sweet onion, hijiki,<br>
seaweed salad, avocado<br>
dressing: wasabi soy<br>
toppings: masago, sesame<br>
seeds</span></p>
</td>
<td style="width: 200px; text-align: left;"><strong><span class="fontstyle0">TASTE TEST</span></strong><p></p>
<p><span class="fontstyle0">tuna, salmon, cucumber,<br>
edamame, avocado<br>
dressing: miso ginger<br>
toppings: kanikama, chili aioli,<br>
masago, sesame seeds</span></p></td>
<td style="width: 200px; text-align: left;"><strong><span class="fontstyle0">SOMETHING ABOUT SALMON</span></strong><p></p>
<p><span class="fontstyle0">salmon, sweet onion,<br>
cucumber, edamame,<br>
seaweed salad, avocado<br>
dressing: sweet sesame<br>
toppings: masago, sesame<br>
seeds</span></p></td>
</tr>
<tr>
<td style="width: 200px; text-align: left;"><strong><span class="fontstyle0">SHELL LIFE</span></strong><p></p>
<p><span class="fontstyle0">lobster salad, cucumber, sweet<br>
onion, avocado<br>
dressing: wasabi shayu<br>
toppings: kanikama, masago,<br>
sesame seeds</span></p></td>
<td style="width: 200px; text-align: left;"><strong><span class="fontstyle0">ALL ABOUT TOFU</span></strong><p></p>
<p><span class="fontstyle0">tofu, cucumber, edamame,<br>
hijiki, seaweed salad, avacado<br>
dressing: spcy sha shoyu<br>
toppings: ginger, sesame seeds</span></p></td>
<td style="width: 200px; text-align: left;"><strong><span class="fontstyle0">CALIFORNIA BOWL</span></strong><p></p>
<p><span class="fontstyle0">avocado, cucumber, seaweed<br>
salad<br>
dressing: sweet sesame<br>
toppings: kanikama, masago,<br>
ginger, wasabi aioli</span></p></td>
</tr>
</tbody>
</table>
</div

